* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden !important;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.modal-container .background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(12, 10, 11, 0.5);
}
.modal-container .report-answer-modal {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 536px;
  height: 680px;
  padding: 16px;
  background: #fdfdfd;
  border: 1px solid #aad1ae;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  font-size: 16px;
}
.modal-container .report-answer-modal .title-div,
.modal-container .report-answer-modal .writer-div,
.modal-container .report-answer-modal .email-div,
.modal-container .report-answer-modal .date-div,
.modal-container .report-answer-modal .btn-frame {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
.modal-container .report-answer-modal .title-div h3,
.modal-container .report-answer-modal .writer-div h3,
.modal-container .report-answer-modal .email-div h3,
.modal-container .report-answer-modal .date-div h3,
.modal-container .report-answer-modal .btn-frame h3 {
  padding-left: 16px;
  padding-right: 16px;
}
.modal-container .report-answer-modal .title-div p,
.modal-container .report-answer-modal .writer-div p,
.modal-container .report-answer-modal .email-div p,
.modal-container .report-answer-modal .date-div p,
.modal-container .report-answer-modal .btn-frame p {
  flex: 1;
  text-align: left;
  align-items: center;
}
.modal-container .report-answer-modal .content-div,
.modal-container .report-answer-modal .answer-div {
  border: 1px solid #aad1ae;
  height: max-content;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.modal-container .report-answer-modal .content-div legend,
.modal-container .report-answer-modal .answer-div legend {
  text-align: left;
  margin-left: 16px;
  font-weight: 900;
}
.modal-container .report-answer-modal .content-div textarea,
.modal-container .report-answer-modal .answer-div textarea {
  width: 100%;
  height: 160px;
  resize: none;
  border: 0px solid #aad1ae;
  padding: 16px;
  background: #fdfdfd;
}
.modal-container .report-answer-modal .content-div textarea:disabled,
.modal-container .report-answer-modal .answer-div textarea:disabled {
  background: #fdfdfd;
}
.modal-container .report-answer-modal .content-div textarea:focus,
.modal-container .report-answer-modal .answer-div textarea:focus {
  outline: none;
}
.modal-container .report-answer-modal .answer-div {
  background-color: #d7ffdc;
}
.modal-container .report-answer-modal .answer-div textarea {
  background-color: #d7ffdc;
}
.modal-container .report-answer-modal .btn-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  gap: 32px;
}
.modal-container .report-answer-modal .btn-frame .answer-btn,
.modal-container .report-answer-modal .btn-frame .cancel-btn {
  flex: 1;
  height: 48px;
  font-size: 20px;
}
.modal-container .report-answer-modal .btn-frame .answer-btn {
  flex: 1;
  background: #aad1ae;
  color: #fdfdfd;
}
.modal-container .report-answer-modal .btn-frame .cancel-btn {
  background: #fdfdfd;
  border: 1px solid #aad1ae;
  color: #0c0a0b;
}

/*# sourceMappingURL=ReportAnswerModal.css.map */
