@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.user-table-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  height: max-content;
  justify-content: center;
}
.user-table-item td {
  flex: 1;
  box-sizing: border-box;
  vertical-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #c0c0c0;
  /* 720px 이하일 때 */
  /* 721px ~ 1024px 때 */
  /* 1024px 이상일 때 */
}
@media (max-width: 720px) {
  .user-table-item td {
    font-size: 14px;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .user-table-item td {
    font-size: 16px;
  }
}
@media (min-width: 1025px) {
  .user-table-item td {
    font-size: 18px;
  }
}
.user-table-item td .long-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 720px 이하일 때 */
  /* 721px ~ 1024px 때 */
  /* 1024px 이상일 때 */
}
@media (max-width: 720px) {
  .user-table-item td .long-text {
    width: 64px;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .user-table-item td .long-text {
    width: 96px;
  }
}
@media (min-width: 1025px) {
  .user-table-item td .long-text {
    width: 112px;
  }
}
.user-table-item td:first-child {
  flex: 0.97;
}
.user-table-item td:last-child {
  border-right: none;
  flex: 1.45;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* 720px 이하일 때 */
  /* 721px ~ 1024px 때 */
  /* 1024px 이상일 때 */
}
@media (max-width: 720px) {
  .user-table-item td:last-child {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .user-table-item td:last-child {
    gap: 16px;
  }
}
@media (min-width: 1025px) {
  .user-table-item td:last-child {
    gap: 32px;
  }
}
.user-table-item td:last-child .user-status-option,
.user-table-item td:last-child .apply-btn,
.user-table-item td:last-child .cancel-btn {
  margin-left: 8px;
  margin-right: 8px;
}
.user-table-item td:last-child .user-status-option {
  border-radius: 4px;
  background-color: #fdfdfd;
  border: 1px solid #aad1ae;
  text-align: center;
  /* 720px 이하일 때 */
  /* 721px ~ 1024px 때 */
  /* 1024px 이상일 때 */
}
@media (max-width: 720px) {
  .user-table-item td:last-child .user-status-option {
    width: 64px;
    height: 28px;
    font-size: 10px;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .user-table-item td:last-child .user-status-option {
    width: 72px;
    height: 32px;
    font-size: 12px;
  }
}
@media (min-width: 1025px) {
  .user-table-item td:last-child .user-status-option {
    width: 112px;
    height: 36px;
    font-size: 14px;
  }
}
.user-table-item td:last-child .apply-btn {
  background-color: #ffb75f;
  color: #fdfdfd;
  /* 720px 이하일 때 */
  /* 721px ~ 1024px 때 */
  /* 1024px 이상일 때 */
}
@media (max-width: 720px) {
  .user-table-item td:last-child .apply-btn {
    width: 64px;
    font-size: 10px;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .user-table-item td:last-child .apply-btn {
    width: 72px;
    font-size: 12px;
  }
}
@media (min-width: 1025px) {
  .user-table-item td:last-child .apply-btn {
    width: 112px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=UserTableItem.css.map */
