$mono50: #FDFDFD;
$mono100: #E8E8E8;
$mono200: #D4D4D4;
$mono300: #C0C0C0;
$mono400: #ABABAB;
$mono500: #979494;
$mono600: #827E7E;
$mono700: #6E6969;
$mono800: #5A5454;
$mono900: #454040;
$green50: #FBFFFB;
$green100: #D7FFDC;
$green200: #C0E8C5;
$green300: #AAD1AE;
$green400: #94BB99;
$green500: #7FA484;
$green600: #6B8D6F;
$green700: #58775C;
$green800: #456049;
$green900: #344936;
$red50: #FFE6E8;
$red100: #FFB9BF;
$red200: #FF8C96;
$red300: #FF5F6D;
$red400: #FF3243;
$red500: #F20519;
$red600: #C90011;
$red700: #A0000E;
$red800: #78000A;
$red900: #4F0007;
$black: #0C0A0B;
$white: #FDFDFD;
$blue50: #ECF4FF;
$blue100: #C1DAFF;
$blue200: #96C1FF;
$blue300: #6BA8FF;
$blue400: #408FFF;
$blue500: #2C75DD;
$blue600: #1C5EBB;
$blue700: #0F4899;
$blue800: #063577;
$blue900: #002355;
$yellow50: #FFFCE5;
$yellow100: #FFF6B7;
$yellow200: #FFF08A;
$yellow300: #FFE52E;
$yellow400: #FFE000;
$yellow600: #D6BC00;
$yellow700: #AD9800;
$yellow800: #857400;
$yellow900: #5C5100;
$orange50: #FFF3E6;
$orange100: #FFDFB9;
$orange200: #FFCB8C;
$orange300: #FFB75F;
$orange400: #FFA232;
$orange500: #F28705;
$orange600: #C96E00;
$orange700: #A05800;
$orange800: #784200;
$orange900: #4F2B00;