@import "Commons.scss";

$mono50: #fdfdfd;
$mono100: #e8e8e8;
$mono200: #d4d4d4;
$mono300: #c0c0c0;
$mono400: #ababab;
$mono500: #979494;
$mono600: #827e7e;
$mono700: #6e6969;
$mono800: #5a5454;
$mono900: #454040;
$green50: #fbfffb;
$green100: #d7ffdc;
$green200: #c0e8c5;
$green300: #aad1ae;
$green400: #94bb99;
$green500: #7fa484;
$green600: #6b8d6f;
$green700: #58775c;
$green800: #456049;
$green900: #344936;
$red50: #ffe6e8;
$red100: #ffb9bf;
$red200: #ff8c96;
$red300: #ff5f6d;
$red400: #ff3243;
$red500: #f20519;
$red600: #c90011;
$red700: #a0000e;
$red800: #78000a;
$red900: #4f0007;
$black: #0c0a0b;
$white: #fdfdfd;
$blue50: #ecf4ff;
$blue100: #c1daff;
$blue200: #96c1ff;
$blue300: #6ba8ff;
$blue400: #408fff;
$blue500: #2c75dd;
$blue600: #1c5ebb;
$blue700: #0f4899;
$blue800: #063577;
$blue900: #002355;
$yellow50: #fffce5;
$yellow100: #fff6b7;
$yellow200: #fff08a;
$yellow300: #ffe52e;
$yellow400: #ffe000;
$yellow600: #d6bc00;
$yellow700: #ad9800;
$yellow800: #857400;
$yellow900: #5c5100;
$orange50: #fff3e6;
$orange100: #ffdfb9;
$orange200: #ffcb8c;
$orange300: #ffb75f;
$orange400: #ffa232;
$orange500: #f28705;
$orange600: #c96e00;
$orange700: #a05800;
$orange800: #784200;
$orange900: #4f2b00;
