@import "Colors.scss";


.user-table-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  height: max-content;

  td{
    flex:1;
    min-width: 8vw;
    width: max-content;
    box-sizing: border-box;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 32px;      
    line-height: 32px;
  }


  td:last-child{
    flex:3;
    min-width: 10vw;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;

    .user-status-option, 
    .apply-btn, 
    .cancel-btn{
      margin-left: 8px;
      margin-right: 8px;
    }

    .user-status-option{
      border-radius: 4px;
      background-color: $white;
      border: 1px solid $green300;

      font-size: 16px;
      text-align: center;
      width: 128px;
      height: 36px;

    }
    .apply-btn{
      width: 96px;
      background-color: $red300;

      /* media... */

    }
    .cancel-btn{
      width: 96px;
      border: 1px solid $green300;
      background-color: $white;

    }
  }
  
}
