@import "Colors.scss";

.user-table-head {
  /* user-table-head */
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: max-content;
  height: 48px;
  .name-div,
  .id-div,
  .email-div,
  .date-div,
  .state-div,
  .controll-div {
    /* name */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $mono100;
    border: 1px solid $mono400;
    width: max-content;
    height: 48px;
    color: $black;
    font-weight: 900;
  }

  /* 720px 이하일 때 */
  @media (max-width: 720px) {
    .name-div,
    .id-div,
    .email-div,
    .date-div,
    .state-div,
    .controll-div {
      font-size: 12px;
      padding: 0px 19px;
    }
    .id-div {
      padding: 0px 17.5px;
    }
    .email-div {
      padding: 0px 37.5px;
    }
    .date-div {
      padding: 0px 25.5px;
    }
    .state-div {
      padding: 0px 14px;
    }
    .controll-div {
      padding: 0px 100px;
    }
  }

  /* 720 ~ 1024 일 때 */
  @media (min-width: 721px) and (max-width: 1024px) {
    .name-div,
    .id-div,
    .email-div,
    .date-div,
    .state-div,
    .controll-div {
      font-size: 16px;
      padding: 0px 3.2vw;
    }
    .id-div {
      padding: 0px 3.1vw;
    }
    .email-div {
      padding: 0px 7.9vw;
    }
    .date-div {
      padding: 0px 4.8vw;
    }
    .state-div {
      padding: 0px 2.1vw;
    }
    .controll-div {
      padding: 0px 10.2vw;
    }
  }

  /* 1024px 이상일 때 */
  @media (min-width: 1025px) {
    /* 스타일 속성 */
    .name-div,
    .id-div,
    .email-div,
    .date-div,
    .state-div,
    .controll-div {
      font-size: 16px;
      padding: 0px 24px;
    }
    .id-div {
      padding: 0px 23.5px;
    }
    .email-div {
      padding: 0px 67.5px;
    }
    .date-div {
      padding: 0px 36px;
    }
    .state-div {
      padding: 0px 16px;
    }
    .controll-div {
      padding: 0px 128px;
    }
  }
}
