<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--  브로드 캐스트 리시버를 위한 권한 설정  -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- 구글 핏 API 사용을 위한 권한 설정 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <!-- 걸은 거리를 가져오기 위한 GPS 권한 설정 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthone"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".util.HealthOneRetrofitInstance"
            android:exported="true"
            />

        <!-- 브로드 캐스트 리시버 등록-->
        <receiver
            android:name=".reciever.ScreenStateReceiver"
            android:enabled="true"
            android:exported="true"
            />
        <!-- 브로드 캐스트 리시버를 관리할 서비스 등록 -->
        <service
            android:name=".service.ScreenService"
            android:stopWithTask="false"
            android:enabled="true"
            android:exported="true"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Healthone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>

